@import 'styles/variables.scss';

.top-nav {
    position: fixed;
    top: 0;
    left: 0;

    background: $backgroundColor;
    width: 100%;

    z-index: $topNavZIndex;

    overflow: hidden;
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}

.boards {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;

    width: 100%;

    .board-buttons {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;

        width: 100%;
    }
}

.top-nav-links {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
}

moo-button, .board-text, .board-link, .page-load-setting {
    padding: $spacing/4;
}

.page-load-setting {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    moo-button {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.board-text, .page-load-setting {
    width: 100%;
    box-sizing: border-box;
}

.boards-toggle {
    // Aligning to the right
    // source: https://stackoverflow.com/questions/35269947/css-align-one-item-right-with-flexbox
    margin-left: auto;
}

.thread-header, .top-nav-links {
    display: flex;
    flex-wrap: wrap;
}

.thread-header {
    align-items: center;
}

.top-nav.boards-showing {
    border-bottom: 1px solid $borderColor;
}

.top-nav-links.no-board-selected {
    // hide all top-nav-link buttons except for boards toggle
    moo-button {
        display: none;
    }
    moo-button.boards-toggle {
        display: block;
    }
}

.line-break {
    width: 100%;
    border-bottom: 1px solid $borderColor;
}

.loader {
    position: fixed;
    bottom: 0;
    right: 0;

    font-size: 2em;
    padding: $spacing/4;

    animation: fade-in-animation 400ms cubic-bezier(0.4, 0, 0.2, 1);
    animation-delay: 1000ms;
}

.threads {
    padding-top: $spacing * 3;
    box-sizing: border-box;
}

.welcome-block {
    max-width: 600px;
    min-height: 100vh;
    min-height: var(--app-height-100);

    padding: 10vh $spacing/8;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    margin: auto;

    align-items: flex-start;
    justify-content: center;

    .buttons {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-top: $spacing;
    }

    moo-button {
        padding: 0;
        margin-left: auto;
    }
}

@media only screen and (max-width: 800px) {
    moo-button, .board-text, .board-link, .page-load-setting {
        padding: $spacing/8;
    }

    .page-load-setting-text {
        width: 100%;
    }

    .board-text {
        margin-bottom: auto;
        flex-grow: 1;

        .mobile-board-text {
            display: inline;
        }
    }

    .top-nav.boards-showing {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        height: 100vh;
        height: var(--app-height-100);
        overflow: auto;

        // Push the board buttons down if there's space
        .boards {
            margin-bottom: 0;
        }

        .top-nav-links {
            // hide all top-nav-link buttons except for boards toggle
            moo-button {
                display: none;
            }
            moo-button.boards-toggle {
                display: block;
            }
        }
    }
}

.close-boards-flash {
    position: absolute;
    top: -85px;
    right: -47px;

    height: 242px;
    width: 242px;
    
    background: rgba(map-get($primaryLighten, 90), .2);

    border-radius: 50%;

    pointer-events: none;

    display: none;
}

@keyframes fade-in-out-animation {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {opacity: 1;}
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.close-boards-flash.active {
    display: block;
    animation: fade-in-out-animation 1500ms cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: forwards;
    animation-iteration-count: 3;
}

.logo {
    position: relative;
    top: 0;
    left: 0;

    height: 160px;
    width: 160px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: black;

    font-size: 149px;
    font-weight: 500;
    
    overflow: hidden;

    border-radius: 10%;
    
    div {
        position: relative;
        top: 5px;
        left: 5px;

        height: 100%;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        color: map-get($primaryDarken, 30);
    }
    div + div {
        position: absolute;
        top: -5px;
        left: -5px;
        
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        color: white;

        text-shadow: 0px 5px 20px rgba(black, .3);
    }
}

@keyframes warning-animation {
    from {bottom: -100px;}
    to {bottom: 0;}
}

.warning {
    position: fixed;
    bottom: 0;
    left: 0;

    padding: $spacing/4;
    color: $error;
    
    i {
        font-size: $spacing;
        height: $spacing;
        width: $spacing;
    }

    pointer-events: none;

    // spring animation
    animation: warning-animation 400ms cubic-bezier(0.61, 0.01, 0.28, 1.26);
    transition: bottom 400ms cubic-bezier(0.61, 0.01, 0.28, 1.26);
}
