<div *ngIf="initalized && (selectedBoards.length || showBoards)" [class]="'top-nav' + (showBoards ? ' boards-showing' : '')">
    <div [class]="'top-nav-links' + (!selectedBoards.length ? ' no-board-selected' : '')">
        <div *ngIf="showBoards && showCloseBoardsFlash" [class]="'close-boards-flash' + (selectedBoards.length ? ' active' : '')"></div>

        <moo-button [hasBackground]="true" (click)="closeAllThreads()" icon="hourglass_full">Snooze all</moo-button>
        <moo-button [hasBackground]="true" (click)="clearThreadsAbove()" icon="hourglass_top">Snooze above</moo-button>
        <!-- <a (click)="clearBlocks()">Clear blocks</a> -->
        <moo-button [hasBackground]="true" class="boards-toggle" (click)="showBoards = !showBoards" [icon]="showBoards ? 'expand_less' : 'expand_more'">{{ showBoards ? 'Close settings' : 'Settings' }}</moo-button>
    </div>

    <div *ngIf="showBoards" class="boards">
        <div class="page-load-setting">
            <div class="page-load-setting-text">Pages to monitor</div>
            <moo-button *ngFor="let num of [1,2,3,4,5,6,7,8,9,10]" [hasBackground]="num === pagesToLoad" (click)="setPagesToLoad(num)">{{ num }}</moo-button>
        </div>

        <div class="board-text">
            Select one or more boards. Close boards once you're done
        </div>

        <div class="board-buttons">
            <moo-button [hasBackground]="!!selectedBoardMap[board]" *ngFor="let board of boards" [class]="selectedBoardMap[board] ? 'selected' : ''" (click)="toggleBoard(board)">{{ board }}</moo-button>
        </div>
    </div>
</div>

<ng-container *ngIf="!agreeToTerms || (initalized && !selectedBoards.length)">

</ng-container>
<div class="welcome-block" *ngIf="!agreeToTerms">
    <div class="agreement">
        <div class="logo">
            <div>4</div><div>4</div>
        </div>
        <br>
        <div>
            This site uses the public <a href="https://github.com/4chan/4chan-API" target="_blank">4chan API</a> to function. By accessing content from this app, you agree to <a href="https://4chan.org" target="_blank">4chan.org</a>'s Disclaimer.
        </div>
        <br>
        <div>
            The following text is from <a href="https://4chan.org" target="_blank">4chan.org</a>, modified slightly to include all sections of <a href="https://4chan.org" target="_blank">4chan.org</a> (the "website") and this application.
        </div>
        <br>
        <div>
            To access any section of <a href="https://4chan.org" target="_blank">4chan.org</a> (the "website") (and by its API and this application), you understand and agree to the following:
        </div>
        <br>
        <div>
            1. The content of this website is for mature audiences only and may not be suitable for minors. If you are a minor or it is illegal for you to access mature images and language, do not proceed.
        </div>
        <br>
        <div>
            2. This website is presented to you AS IS, with no warranty, express or implied. By clicking "I Agree," you agree not to hold <a href="https://4chan.org" target="_blank">4chan.org</a> responsible for any damages from your use of the website, and you understand that the content posted is not owned or generated by 4chan, but rather by 4chan's users.
        </div>
        <br>
        <div>
            3. As a condition of using this website, you agree to comply with the "<a href="https://4chan.org/rules" target="_blank">Rules</a>" of <a href="https://4chan.org" target="_blank">4chan.org</a>, which are also linked on the home page. Please read the Rules carefully, because they are important.
        </div>
        <br>
        <div>
            If there is any confusion or if you'd like to see Disclaimer provided by <a href="https://4chan.org" target="_blank">4chan.org</a> (the "website"), please visit <a href="https://4chan.org" target="_blank">4chan.org</a> before continuing.
        </div>
        <br>
    </div>

    <div class="buttons">
        <moo-button [hasBackground]="true" (click)="agreeToTermsFunc()" icon="done_outline">I Agree</moo-button>
    </div>
</div>

<div class="welcome-block" *ngIf="initalized && !selectedBoards.length">
    <div>
        <div class="logo">
            <div>4</div><div>4</div>
        </div>
        <br>
        <div>
            This application aims to display content from <a href="https://4chan.org" target="_blank">4chan.org</a> (the "website") in a more modern fashion and to eliminate navigation (all links redirect you to <a href="https://4chan.org" target="_blank">4chan.org</a> or whereever the 4chan's users link to in their posts).
        </div>
        <br>
        <div>
            This means no more clicking through boards and pages. All posts from the first page of your favorite boards will load on a single feed and will auto populate your feed over time.
        </div>
        <br>
        <div>
            If you came for lerking more than participating with posts, you've come to the right place. If you want to create posts, reply to users, report rule breakers, etc, go visit <a href="https://4chan.org" target="_blank">4chan.org</a>.
        </div>
        <br>
        <div>
            This site uses the public <a href="https://github.com/4chan/4chan-API" target="_blank">4chan API</a> to function. By accessing content from this app, you agree to <a href="https://4chan.org" target="_blank">4chan.org</a>'s Disclaimer.
        </div>
        <br>
        <div>
            Here is the public <a href="https://github.com/m-thompson-code/four-chan" target="blank">github repo</a> to this project if you'd like to mess with the code, run the project locally, or report a bug.
        </div>
        <br>
        <div>
            I have no plans to throw ads around or try to use this application to market my applications, products, or services. You may donate <a href="https://paypal.me/mthompsoncode" target="_blank">here</a>.
        </div>
        <br>
        <div>
            When scrolling through threads. You can 'Snooze' them so they will close and show up again in your feed once they have updates. If you don't want to see a thread again, 'Delete' them. The application will only load more threads as long as you have less than 600 thread loaded at one time.
        </div>
    </div>
    <div class="buttons">
        <moo-button [hasBackground]="true" (click)="showBoards = !showBoards" icon="done_outline">Get started</moo-button>
    </div>
</div>

<div class="threads" *ngIf="agreeToTerms && initalized && selectedBoards.length">
    <ng-container *ngFor="let thread of threads">
        <div class="thread-header">
            <a class="board-link" [href]="'https://boards.4channel.org/' + thread.board + '/'" *ngIf="selectedBoards.length > 1">/{{ thread.board }}/</a>
            <moo-button [hasBackground]="true" (click)="blockThread(thread)" icon="delete_forever">Delete</moo-button>
            <moo-button [hasBackground]="true" (click)="closeThread(thread)" icon="watch_later">Snooze</moo-button>
            <moo-button class="expander" [hasBackground]="true" (click)="loadFullPosts(thread)" [icon]="thread.expanded ? 'refresh' : 'expand_more'">{{ thread.expanded ? 'Reload' : 'Expand' }}</moo-button>
            <!-- <a *ngIf=" thread.mainPosts[0]?.no" [href]="'https://boards.4chan.org/' + thread.board + '/thread/' + thread.mainPosts[0].no + '#p' + thread.mainPosts[0].no" target="_blank">4chan.org</a> -->
        </div>
    
        <moo-thread [thread]="thread" [showButtons]="threadInView === thread"
            (deleteSelected)="blockThread(thread)"
            (snoozeSelected)="closeThread(thread)"
            (loadMoreSelected)="loadFullPosts(thread)"
            (closeSelected)="deletePost(thread, $event)">
        </moo-thread>
    
        <div class="line-break"></div>
    </ng-container>
</div>

<div *ngIf="loaderService.loaderCount > 0" class="loader">
    LOADING . . .
</div>

<div *ngIf="errorCount" class="warning">
    <i class="material-icons">warning</i>
</div>
