@import 'styles/variables.scss';

.line-break {
    width: 100%;
    border-bottom: 1px solid grey;
    margin-bottom: $spacing;
}

.line-break.top {
    margin-top: $spacing * 2;
}

.thread-header, .top-nav {
    display: flex;
    flex-wrap: wrap;

    padding: 0 $spacing/4;
    box-sizing: border-box;

    max-height: 100vh;
    max-height: var(--app-height-100);

    overflow: auto;

    span, a {
        display: block;
        margin-right: $spacing;
    }
    a:last-child {
        margin-right: 0;
    }
}

.top-nav {
    position: fixed;
    top: 0;
    left: 0;

    background: #121212;
    width: 100%;
    z-index: 1;

    overflow: hidden;

    .boards {
        display: flex;
        flex-wrap: wrap;

        width: 100%;

        margin-bottom: $spacing/2;
        margin-left: -$spacing/4;
        margin-right: -$spacing/4;
        
        a {
            padding: $spacing/4;
            border-radius: $spacing/6;
        }

        a.selected {
            background: $primary;
            color: white;
        }
    }
        
    .top-nav-links {
        display: flex;
        flex-wrap: wrap;

        width: 100%;

        .boards-toggle {
            // Aligning to the right
            // source: https://stackoverflow.com/questions/35269947/css-align-one-item-right-with-flexbox
            margin-left: auto;
        }
    }

    padding: $spacing/4;
}

.top-nav.no-board-selected {
    .top-nav-links {
        // Hide boards toggle (and links) and prevent end user from closing board select until they choose something
        a, a.boards-toggle {
            // display: none;
            visibility: hidden;
            pointer-events: none;
        }
    }
}

.loader {
    position: fixed;
    bottom: 0;
    right: 0;

    font-size: 2em;
    padding: $spacing/4;
}

.threads {
    margin-top: $spacing * 3;
}

.board-text {
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .thread-header, .top-nav {
        span, a {
            margin-right: $spacing/2;
        }
        a:last-child {
            margin-right: 0;
        }
    }

    .top-nav.no-board-selected {
        .top-nav-links {
            // Hide boards toggle and prevent end user from closing board select until they choose something
            a.boards-toggle {
                visibility: hidden;
                pointer-events: none;
                // display: none;
            }
        }
    }

    .top-nav.boards-showing {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        min-height: 100vh;
        min-height: var(--app-height-100);

        // Push everything else down (like the .top-nav-links)
        .boards {
            margin-bottom: auto;
        }

        .top-nav-links {
            // Hide all the links if boards is toggled
            a {
                // pointer-events: none;
                display: none;
            }
            // // Remove aligning to the right since when this link wraps, it looks odd on small devices
            a.boards-toggle {
                pointer-events: auto;
                display: block;
            }
        }
    }

    .top-nav.no-board-selected.boards-showing {
        .top-nav-links {
            a.boards-toggle {
                visibility: hidden;
                pointer-events: none;
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .top-nav {
        .boards {
            flex-grow: 1;
        }

        .top-nav-links {
            // Remove aligning to the right since when this link wraps, it looks odd on small devices
            .boards-toggle {
                margin-left: 0;
            }
        }
    }
}
