@import 'styles/variables.scss';

:host {
    display: block;

    width: 100%;
    height: auto;
}

.thread {
    position: relative;
    top: 0;
    left: 0;

    display: flex;

    width: 100%;
    height: auto;
}

.thread {
    transition: background 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.show-buttons {
    background: rgba(black, .1);
}

.highlight {
    background: rgba(white, .03);
}

.posts {
    width: 50%;
    padding: $spacing/4;
    box-sizing: border-box;
}

moo-post {
    margin-bottom: $spacing;
}
moo-post:last-child {
    margin-bottom: 0;
}

.visibility-debug {
    background: rgba(black, .1);
    color: white;
}

.buttons {
    position: fixed;
    left: 0;
    top: 50vh;
    top: var(--app-height-50);
    z-index: $threadButtonsZIndex;

    transform: translateY(-50%);

    box-sizing: border-box;
}

.bottom-buttons {
    top: auto;
    bottom: 0;
}

moo-button, moo-icon-button {
    padding: $spacing/4;
    transform: scale(0);
    transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1), transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
}
moo-icon-button {
    display: none;
}

@keyframes fade-in-fav-button-animation {
    from {
        // opacity: 0;
        transform: scale(0);
    }
    to {
        // opacity: 1;
        transform: scale(1);
    }
}

.fade-in {
    moo-button, moo-icon-button {
        animation: fade-in-fav-button-animation 400ms cubic-bezier(0.4, 0, 0.2, 1);
        animation-delay: 600ms;
        pointer-events: auto;
        transform: scale(1);
        animation-fill-mode: backwards;
    }
}

@media only screen and (max-width: 800px) {
    .thread {
        flex-direction: column;
        
        .posts {
            width: 100%;
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        left: auto;
        right: 0;

        moo-icon-button {
            display: block;
        }

        moo-button {
            display: none;
        }
    }
    .button-text {
        display: none;
    }
}

