@import 'styles/variables.scss';

:host {
    display: block;

    width: 100%;
    height: auto;
}

.post {
    position: relative;
    top: 0;
    left: 0;
}

.header {
    margin-bottom: $spacing/4;
}

.sections {
    div {
        margin-bottom: $spacing/4;
    }
    div:last-child {
        margin-bottom: 0;
    }
}

.post-no {
    margin-right: $spacing/4;
}

img {
    max-width: 100%;
    // height: auto;// Removed to allow for the height attr on image to allow for proper sizing when img renders before loading
}

.image-container {
    cursor: pointer;
}

.comment {
    line-height: 1.375;
}

.comment-html-string {
    box-sizing: border-box;
    padding: $spacing/4;

    border-radius: $spacing/4;

    background: rgba(255, 255, 255, .1);

    line-height: 2;
}

.html-toggle {
    font-size: .5em;
    display: none;
}

span, a {
    overflow-wrap: break-word;
}

moo-icon-button {
    position: absolute;
    right: 0;
    top: 12px;
    transform: translateY(-50%);
}
