<div class="post" #postDiv>
    <div class="header">
        <a [href]="'https://boards.4chan.org/' + post.board + '/thread/' + (post.resto || post.no) + '#p' + post.no" target="_blank">
            <span class="post-no">
                {{ post.no }}
            </span>
            <span *ngIf="post.sticky">
                &nbsp;(sticky)&nbsp;
            </span>
        </a>
        <span class="timestamp">
            {{ (post.time * 1000) | date:'M/d h:mm a' }}
        </span>
    </div>

    <div class="sections">
        <div class="image-container" *ngIf="post.tim" (click)="toggleImage(post, postDiv)">
            <div *ngIf="post.filedeleted">
                <img src="https://s.4cdn.org/image/filedeleted.gif">
            </div>
    
            <div *ngIf="post.spoiler">
                <img src="https://s.4cdn.org/image/spoiler.png">
                <i *ngIf="post.ext === '.webm'" class="material-icons">videocam</i>
                <i *ngIf="post.ext === '.gif'" class="material-icons">gif</i>
            </div>
    
            <ng-container *ngIf="!post.spoiler">
                <div class="thumbnail" *ngIf="post.ext !== '.swf' && !post.expanded">
                    <img [src]="post.thumbnailUrl" [attr.width]="'' + post.tn_w + 'px'" [style.height]="'' + post.tn_h + 'px'" 
                    [style.width]="'' + post.tn_w + 'px'" [style.height]="'' + post.tn_h + 'px'" loading="lazy" [alt]="post.thumbnailUrl">
                    <i *ngIf="post.ext === '.webm'" class="material-icons">videocam</i>
                    <i *ngIf="post.ext === '.gif'" class="material-icons">gif</i>
                </div>
                
                <div *ngIf="post.expanded">
                    <img *ngIf="post.ext === '.jpg' || post.ext === '.png' || post.ext === '.gif'" 
                        [src]="post.imageUrl" [attr.width]="'' + post.w + 'px'" [attr.height]="'' + post.h + 'px'" [style.width]="'' + post.w + 'px'" 
                        mooKeepRatio [ratioWidth]="post.w" [ratioHeight]="post.h" [basedOnWidth]="true" [alt]="post.imageUrl">
                    <video *ngIf="post.ext === '.webm'" 
                        [src]="post.imageUrl" [attr.width]="'' + post.w + 'px'" [attr.height]="'' + post.h + 'px'" [style.width]="'' + post.w + 'px'" controls loop autoplay 
                        mooKeepRatio [ratioWidth]="post.w" [ratioHeight]="post.h" [basedOnWidth]="true"></video>
                </div>
    
                <div class="ext-warning" *ngIf="post.ext === '.swf'">
                    <span class="error-color">No support for</span> {{ post.ext }}: <a [href]="post.imageUrl">{{ post.imageUrl }}</a>
                </div>
                <div class="ext-warning" *ngIf="post.ext !== '.jpg' && post.ext !== '.png' && post.ext !== '.gif' && post.ext !== '.swf' && post.ext !== '.webm'">
                    <span class="error-color">Unexpected</span> extension found - {{ post.ext }}: <a href="post.imageUrl">post.imageUrl</a>
                </div>
            </ng-container>
        </div>
    
        <div>
            <span *ngIf="post.id">
                {{ post.id }}&nbsp;
            </span>
            <span *ngIf="post.name && post.name !== 'Anonymous'">
                {{ post.name }}&nbsp;
            </span>
            <span *ngIf="post.capcode">
                {{ post.capcode }}&nbsp;
            </span>
        </div>
    
        <div class="subject" *ngIf="post.sub">
            {{ post.sub }}
        </div>
    
        <div class="comment-html-string" *ngIf="post.com && post.htmlStrExpanded">
            {{ post.com }}<br><a class="html-toggle" (click)="post.htmlStrExpanded = !post.htmlStrExpanded">(?)</a>
        </div>
    
        <div class="comment" *ngIf="!post.htmlStrExpanded && post.com && post.parsedHtml">
            <ng-container *ngFor="let htmlPart of post.parsedHtml">
                <br *ngIf="htmlPart.tag === 'br'">
                <a *ngIf="htmlPart.tag === 'a'" [href]="htmlPart.href" [class]="htmlPart.class">{{ htmlPart.text }}</a>
                <span *ngIf="htmlPart.tag === 'span'" [class]="htmlPart.class">{{ htmlPart.text }}</span>
                <s *ngIf="htmlPart.tag === 's'" [class]="htmlPart.class">{{ htmlPart.text }}</s>
            </ng-container>
            <br><a class="html-toggle" (click)="post.htmlStrExpanded = !post.htmlStrExpanded">(?)</a>
        </div>
    </div>

    <moo-icon-button *ngIf="closeable" icon="close" (click)="closeSelected.emit()"></moo-icon-button>
</div>
