@import 'styles/variables.scss';

:host {
    display: block;

    width: 100%;
    height: auto;
}

.header {
    margin-bottom: $spacing/4;
}
.post-no {
    margin-right: $spacing/4;
}

img {
    max-width: 100%;
    // height: auto;// Removed to allow for the height attr on image to allow for proper sizing when img renders before loading
}

.image-container {
    cursor: pointer;
    margin-bottom: $spacing/4;
}

.comment {
    line-height: 1.375;
    margin-bottom: $spacing/2;
}

.comment-html-string {
    box-sizing: border-box;
    padding: $spacing/4;

    border-radius: $spacing/4;

    background: rgba(255, 255, 255, .1);

    line-height: 2;
}

.html-toggle {
    font-size: .5em;
    display: none;
}

span, a {
    overflow-wrap: break-word;
}
