@import 'styles/variables.scss';

/* You can add global styles to this file, and also import other style files */

:root {
    --app-height-100: 100vh;
    // --app-height-95: 95vh;
    // --app-height-50: 50vh;
}

.margin-top {
    margin-top: $spacing;
}

.margin-bottom {
    margin-bottom: $spacing;
}

html, body {
    margin: 0;
    padding: 0;

    // Removed height: 100% since this causes scroll event on window not to fire for safari
    // source: https://github.com/WickyNilliams/headroom.js/issues/127
    // height: 100%;
    
    min-height: 100vh;
    min-height: var(--app-height-100);

    background: $backgroundColor;
    color: white;
}

// // source: https://css-tricks.com/snippets/jquery/smooth-scrolling/
// html {
//     scroll-behavior: smooth;
// }

body {
    overflow-x: hidden;
    overflow-y: visible;

    width: 100%;

    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.375;
}

// source: https://bugs.webkit.org/show_bug.cgi?id=153852 (Kareem Darkazanli 2020-04-01 19:37:31 PDT)
.js-lock-position {
    position: fixed;
    overflow: hidden;
}

// //scroll bar// TODO: Handle scrollbar
// body::-webkit-scrollbar-track
// {
//   // -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
//   border: 1px solid $gray2;
//   background-color: $white;
// }

// body::-webkit-scrollbar
// {
//   width: 12px;
//   background-color: $white;
// }

// body::-webkit-scrollbar-thumb
// {
//   background-color: $blue;
//   border-radius:2px;
 
// }

video, img, iframe {
    display: block;
    margin: 0;
    padding: 0;
}


// source: https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit
// source: https://timonweb.com/tutorials/how-to-make-object-fit-cover-work-for-video-backgrounds-in-edge/
// source: https://redstapler.co/responsive-css-video-background/
.cover-fit {
    width: 100%;
    height: 100%;

    -o-object-fit: cover;
    object-fit: cover;
}

// source: https://caniuse.com/#feat=object-fit
// source: https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit#Browser_compatibility
.cover-fit.polyfill, .cover-fit.ie {
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);

    height: auto;
    width: 100%;
    // better support for responsive images/videos ie 11 / edge
    // source: https://github.com/philipwalton/flexbugs/issues/75
    min-height: 1px;

    // Used for handling nested assets
    img, video {
        height: auto;
        width: 100%;
        // better support for responsive images/videos ie 11 / edge
        // source: https://github.com/philipwalton/flexbugs/issues/75
        min-height: 1px;
    }
}

@media (max-aspect-ratio: 16/9) {
// @media (max-aspect-ratio: 4/3) {
// @media (min-aspect-ratio: 16/9) {
    .cover-fit.polyfill, .cover-fit.ie {
        height: 100%;
        width: auto;
        // better support for responsive images/videos ie 11 / edge
        // source: https://github.com/philipwalton/flexbugs/issues/75
        min-width: 1px;

        // Used for handling nested assets
        img, video {
            height: 100%;
            width: auto;
            // better support for responsive images/videos ie 11 / edge
            // source: https://github.com/philipwalton/flexbugs/issues/75
            min-width: 1px;
        }
    }
}

iframe {
    border-width: 0;
}

.responsive, .responsive-height {
    height: 100%;
    width: auto;
    // better support for responsive images/videos ie 11 / edge
    // source: https://github.com/philipwalton/flexbugs/issues/75
    min-width: 1px;
}

.responsive-width {
    height: auto;
    // better support for responsive images/videos ie 11 / edge
    // source: https://github.com/philipwalton/flexbugs/issues/75
    min-height: 1px;
    width: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: $primary;
    transition: color 400ms cubic-bezier(0.4, 0, 0.2, 1), background 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
a:visited {
    color: map-get($primaryDarken, 20);
}
a:hover {
    color: map-get($primaryLighten, 20);
}
a:focus {
    color: map-get($primaryDarken, 40);
}
a:active {
    color: map-get($primaryDarken, 30);
}

// Remove (ugly) highlight styles on tap
div, span, a, video, iframe {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline: none !important;
}

svg {
    fill: currentColor;
}

img, video {
    // width: auto;
    // height: auto;
    
    max-width: 100%;
    max-height: 100%;
    min-height: 1px;
    height: auto;

    box-sizing: border-box;
}

.green, .quote {
    color: #789922;
}

s, s a:not(:hover) {
    // color: #000!important;
    // background: #000!important;
    color: white!important;
    background: white!important;
    text-decoration: none;
    padding: 0 4px;
}

s:hover, s:focus, s:hover a {
    // color: #fff!important;
    color: black !important;
}

.deadlink {
    color: $error!important;
    text-decoration: underline;
}

.debug {
    font-size: 40px;
    background: white;
    color: $error;
}
